<div class="row justify-content-center mt-4">
	<div class="bg-dark col-6 p-2">
		<div class="row"><td class="p-2">@ViewBag.Trail.name</td></div>
		<div class="row"><td class="p-2">@ViewBag.Trail.description</td></div>
		<div class="row"><td class="p-2">Trail Length @ViewBag.Trail.length</td></div>
		<div class="row"><td class="p-2">Trail Elevation @ViewBag.Trail.elevation</td></div>
		<div class="row"><td class="p-2">Trail Longitude @ViewBag.Trail.longitude</td></div>
		<div class="row"><td class="p-2">Trail Latitude @ViewBag.Trail.latitude</td></div>
	</div>
</div>